* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* START HEADER */

.topBar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 30px 10px 50px 42px;
    background-color: #262336;
}

.headerNav li {
    display: inline;
    padding: 0 0 0 10px;
    font-family: arial;
    font-size: medium;
    letter-spacing: 2px;
}

a {
    text-decoration: none;
    color: #686466;
}

/* START HERO SECTION */

.heroSection {
    border-top: 3px solid #2d2a3d;
    background-color: #262336;
}

.heroBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 46px 0 60px 0;
    font-family: Arial;
}

.twentyFour {
    font-size: x-large;
    background: #D7D6DC;
    background: linear-gradient(to bottom, #D7D6DC 0%, #6B6779 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.customerSupport {
    font-size: xx-large;
    color: #ffffff;
}

.forAll {
    font-size: x-large;
    background: #D7D6DC;
    background: linear-gradient(to bottom, #D7D6DC 0%, #6B6779 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.heroDescription p {
    padding: 20px 485px;
    text-align: center;
    color: #686472;
}

.tryNowButton {
    width: 100px;
    height: 45px;
    border-radius: 9px;
    font-size: medium;
    letter-spacing: 1px;
    background: rgb(107,103,128);
    background: linear-gradient(0deg, rgba(107,103,128,1) 32%, rgba(169,162,199,1) 84%);
    color: #ecffff;
}

/* START SERVICES SECTION */

.servicesSection {
    display: flex;
    justify-content: space-around;
    padding: 5px 45px 52px;
    font-family: arial;
    font-family: arial;
    background-color: #f29b66;
}

.try {
    text-align: center;
}

.topTitle {
    font-size: 33px;
    color: #ffffff;
}

.bottomTitle {
    font-size: 27px;
    background: #E2E2E5;
    background: linear-gradient(to bottom, #E2E2E5 39%, #D9C9C6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.paragraph p {
    padding: 0 37px;
    letter-spacing: 1px;
}


/* START HOSTING SECTION */

.hostingSection {
    display: flex;
    justify-content: space-around;
    padding: 35px 19px 65px 30px;
    background-color: #e8e8ea;
}

.hostTitle {
    width: 250px;
    height: 80px;
    text-align: center;
    background-color: #6f6c89;
    border-radius: 7px 7px 0 0;
}

.hostTitle p {
    padding-top: 20px;
    font-size: xx-large;
    font-family: arial;
    background: #D7D6DC;
    background: linear-gradient(to bottom, #D7D6DC 0%, #807b91 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.price {
    width: 250px;
    height: 80px;
    text-align: center;
    background-color: #6f6c89;
    border-radius: 3px 3px 0 0;
    display: flex;
    justify-content: center;
    border-top: 2px solid #e2dada;
    align-items: center;
}

.price p {
    font-size: xx-large;
    font-family: arial;
    color: #dbd8d8
}

.price p:nth-child(2) {
    font-size: larger;
    font-weight: 800;
    padding-top: 6px;
    background: #F07F2A;
    background: linear-gradient(to bottom, #F07F2A 43%, #D7561D 72%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.triangle {
    position: absolute;
    width: 37px;
    aspect-ratio: 1 / cos(30deg);
    clip-path: polygon(50% 51%, 100% 0, 0 0);
    background-color: #6f6c89;
    margin-left: 118px;
    transform: translateX(-50%);
    z-index: 1;
}

.diskSpace {
    position: relative;
    width: 250px;
    height: 62px;
    padding-top: 20px;
    text-align: center;
    background-color: #ffffff;
    border: 2px solid #e2dada;
    border-top: 4px solid #e2dada;
    color: #b3b3b3;
}

.bandwidth {
    position: relative;
    width: 250px;
    height: 49px;
    padding-top: 14px;
    text-align: center;
    background-color: #f5f0f0;
    border: 2px solid #e2dada;
    color: #b3b3b3;
}

.email {
    position: relative;
    width: 250px;
    height: 49px;
    padding-top: 14px;
    text-align: center;
    background-color: #ffffff;
    border: 2px solid #e2dada;
    color: #b3b3b3;
}

.php {
    position: relative;
    width: 250px;
    height: 49px;
    padding-top: 14px;
    text-align: center;
    background-color: #f5f0f0;
    border: 2px solid #e2dada;
    color: #b3b3b3;
}

.signUp {
    position: relative;
    width: 250px;
    height: 49px;
    padding-top: 14px;
    text-align: center;
    background-color: #ffffff;
    border: 2px solid #e2dada;
}

.signUp button {
    position: relative;
    bottom: 9.5px;
    width: 154px;
    height: 36px;
    border: none;
    border-radius: 5px;
    background: rgb(229,90,47);
    background: linear-gradient(0deg, rgba(229,90,47,1) 34%, rgba(243,143,88,1) 72%);
    font-size: larger;
    font-weight: bold;
    color: #ffffff;
}

/* START SERVICES SECTIOIN */

.infoSection {
    display: flex;
    justify-content: space-around;
    padding: 35px 19px 65px 30px;
    background-color: #262336;
}

.servSectBox {
    padding-left: 59px;
}

.servTitle {
    font-size: 28px;
    font-weight: 600;
    font-family: arial;
    background: #D7D6DC;
    background: linear-gradient(to bottom, #D7D6DC 0%, #807b91 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.servList {
    padding: 22px 0 22px 60px;
    font-size: 20px;
    font-family: arial;
    letter-spacing: 0.5px;
    color: #ffffff;
}

.servList li::marker {
    color: #ffa500;
}
.servParagraph {
    padding-bottom: 20px;
    font-size: 20px;
    font-family: arial;
    color: #bebcbe;
}

.servButton {
    width: 154px;
    height: 36px;
    border: none;
    border-radius: 5px;
    background: rgb(229,90,47);
    background: linear-gradient(0deg, rgba(229,90,47,1) 34%, rgba(243,143,88,1) 72%);
    font-size: larger;
    font-weight: bold;
    color: #ffffff;
}

/* START BRANDS ROW */

.brandsRow img {
    width: 100%;
}